body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-table {
  border-collapse: collapse;
  width: 100%;
}

.user-table th, .user-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table th {
  background-color: #4CAF50;
  color: white;
}
